<div class="alert alert-block alert-info" style="margin-top: 20px">
<a href="https://abhishekpoudel.com/category/python/">
<img src = "https://abhishekpoudel.com/wp-content/uploads/2024/04/Python-Complete-Masterclass-abhishekpoudel.png" width="250" length="400" align="center" /> </a>

<h1> Complete Python Masterclass Day 2 </h1>
<h2> Table of Contents </h2>

A. Operators and Operations
    
         1. String Concatenation
         2. Mathematical Operations
             i. Algebra
             ii. Power
             iii. Roots
         3. Operators

B. Tuple
    
         1. Defining a tuple
         2. Indexing a tuple
         3. Slicing a tuple
         4. Concatenate tuples
         5. Nested tuple
         6. Immutable Property of a tuple

C. Lists
    
         1. Defining a list
         2. Indexing a list
         3. Slicing a list
         4. Concatenate lists
         5. Nested list
         6. Mutable Property of a list
         7. Append and Extend Functions
         8. Split Function
         9. Copy and Clone in List

D. Dictionary
    
         1. Defining a dictionary
         2. Keys
         3. Values
         4. Access the elements
         5. Add/Remove/Update a key-value pair
         6. Check if an element exists or not

# A. Operators and Operations

### 1. String Concatenation

In [1]:
# String Concatenation
var1 = "I am a string."
print(var1)

var2 = "And me too."
print(var2)

var3 = var1+var2
print(var3)

I am a string.
And me too.
I am a string.And me too.

### 2. Mathematical Operations
Algebric Operations, Modulus,Floor Division, Power, Roots

#### i. Algebra

In [3]:
# convert celcius to fahrenheit
temp_c = 20
temp_f = (temp_c * 9/5) + 32
print(f'{temp_c} degrees in Celcius is {temp_f} degrees in Fahrenheit')

20 degrees in Celcius is 68.0 degrees in Fahrenheit

In [14]:
# modulus (Get the remainder from the division)
print(5 % 2)

1

In [18]:
# Quotient from the division (Floor DIvision)
print(5 // 2)

2

#### ii. Power
Power can be obtained by using two asterick(*) signs

In [10]:
#below is an example to calculate the cube of a number
a = 5
b = a**3
print(b)

125

#### iii. Roots
Roots can be obtained in the same way as power, but this time we supply the value of the power in reciprocal format.
There are other ways as well to obtain roots, which we will discuss in near future.

In [12]:
# calculate cube root of 125
a = 125
b = a**(1/3)
print(b)

5.0

###### you can easily try multiple other mathematical operations on your own

### 3. Operators
Python categorizes operators into the following groups:

1. Arithmetic operators: Used for Mathematical Operations

2. Assignment operators: Use to assign/store/modify value to/of a variable

3. Comparison operators: Compare two or more variables

4. Logical operators: Used to combine statements. (and, or, not)

5. Identity operators: Identity operators serve the purpose of comparing objects not for equality but to determine if they are actually the same object, residing in the same memory location.

6. Membership operators: Membership operators are utilized to check whether a sequence is present within an object.

7. Bitwise operators: Bitwise operators are employed to perform comparisons on binary numbers.

We will look at some examples from each type of operators. Once we grasp the frequently used ones, we can always dive to other types.

#### i. Arithmetic Operations
This part has bee covered in section A.2.

#### ii. Assignment Operators

In [22]:
# Assign a value to a variable 
variable1 = 5

##### The += operator, known as the plus-equals operator, offers a convenient method for adding a value to an existing variable and then assigning the new value back to the same variable.

In [23]:
# the += operator

variable1 += 4
print(variable1)

9

#### iii. Comparison Operators
Used to compare two values

<p>1. ==	Equal	x == y</p>
<p>2. !=	Not equal	x != y</p>
<p>3. >	Greater than	x > y</p>
<p>4. <	Less than	x < y</p>
<p>5. >=	Greater than or equal to	x >= y</p>
<p>6. <=	Less than or equal to		x <= y</p>

In [26]:
variable1 == a

False

In [27]:
variable1 != a

True

In [28]:
variable1 > a

False

In [29]:
variable1 < a

True

In [30]:
variable1 >= a

False

In [31]:
variable1 <= a

True

#### iv. Logical Operators
<p>1. "and" 	Returns True if both statements are true	x < 5 and  x < 10 </p>
<p>2. "or"	Returns True if one of the statements is true	x < 5 or x < 4 </p>
<p>3. "not"	Reverse the result, returns False if the result is true	not(x < 5 and x < 10) </p>

In [32]:
x= 4
x < 5 and x < 10

True

In [33]:
x < 5 or x < 4

True

In [34]:
not(x < 5 and x < 10)

False

#### v. Identity Operators
<p>1. "is" 	Returns True if both variables are the same object	x is y	
<p>2. "is not"	Returns True if both variables are not the same object	x is not y

In [35]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

In [36]:
print(x is z)

# returns True because z is the same object as x

True

In [37]:
print(x is y)

# returns False because x is not the same object as y, even if they have the same content

False

In [38]:
print(x == y)

# to demonstrate the difference betweeen "is" and "==": this comparison returns True because x is equal to y

True

#### vi. Membership Operators
<p>1. "in" 	Returns True if a sequence with the specified value is present in the object	x in y	
<p>2. "not in"	Returns True if a sequence with the specified value is not present in the object	x not in y

In [39]:
print("banana" in x)

# returns True because a sequence with the value "banana" is in the list

True

In [40]:
print("pineapple" not in x)

# returns True because a sequence with the value "pineapple" is not in the list

True

#### vii. Bitwise Operators
<p>1. "&" 	AND	Sets each bit to 1 if both bits are 1	x & y	
<p>2. "|"	OR	Sets each bit to 1 if one of two bits is 1	x | y	
<p>3. "^"	XOR	Sets each bit to 1 if only one of two bits is 1	x ^ y	
<p>4. "~"	NOT	Inverts all the bits	~x	
<p>5. "<<"	Zero fill left shift	Shift left by pushing zeros in from the right and let the leftmost bits fall off	x << 2	
<p>6. ">>"	Signed right shift	Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off	x >> 2

In [42]:
print(6 & 3)
"""
The & operator compares each bit and set it to 1 if both are 1, otherwise it is set to 0:
6 = 0000000000000110
3 = 0000000000000011
--------------------
2 = 0000000000000010
====================
"""

2

'\nThe & operator compares each bit and set it to 1 if both are 1, otherwise it is set to 0:\n\n6 = 0000000000000110\n3 = 0000000000000011\n--------------------\n2 = 0000000000000010\n====================\n'

<hr/>
<div class="alert alert-success alertsuccess" style="margin-top: 20px">
[Note]: You can try other Bitwise Operations similarly
</div>
<hr/>

#### viii. Precedence Order
Highest precedence to lower:
<p>1. ()	Parentheses	
<p>2. **	Exponentiation	
<p>3. +x  -x  ~x	Unary plus, unary minus, and bitwise NOT	
<p>4. *  /  //  %	Multiplication, division, floor division, and modulus	
<p>5. +  -	Addition and subtraction	
<p>6. <<  >>	Bitwise left and right shifts	
<p>7. &	Bitwise AND	
<p>8. ^	Bitwise XOR	
<p>9. |	Bitwise OR	
<p>10. ==  !=  >  >=  <  <=  is  is not  in  not in 	Comparisons, identity, and membership operators	
<p>11. not	Logical NOT	
<p>12. and	AND	
<p>13. or	OR

<hr/>
<div class="alert alert-success alertsuccess" style="margin-top: 20px">
[Note]: For the operators of same precendence, statement are evaluated from left to right
</div>
<hr/>

# B. Tuples
<p>i. Are ordered sequences i.e. they record element's position
<p>ii. Can have multiple data types within them, but the collective is a tuple at last
<p>iii. Created using the parenthesis symbol
<p>iv. Are immutable objects

### 1. Defining a tuple

In [45]:
# Create your first tuple

tuple1 = ("disco",10,1.2 )
tuple1

('disco', 10, 1.2)

In [46]:
# Print the type of the tuple you created

type(tuple1)

tuple

### 2. Indexing in Tuple
Similar to strings, the indexing in tuple also works in same manner

In [47]:
# Print the variable on each index

print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

disco
10
1.2

In [49]:
# the individual elements of tuple still belong to their parent class
print(type(tuple1[0]))

<class 'str'>

In [50]:
# Negative indexing
print(tuple1[-1])

1.2

### 3. Slicing a Tuple
This error occurs when you try to access a variable that doesn't exists.

In [53]:
# Slice from index 0 to index 1
tuple1[0:2]

('disco', 10)

In [54]:
#length of a tuple
print(len(tuple1))

3

### 4. Concatenate Tuples

In [55]:
# Concatenate two tuples

tuple2 = tuple1 + ("hard rock", 10)
tuple2

('disco', 10, 1.2, 'hard rock', 10)

In [31]:
# Python will assign string type to variable b 
b = "Typecasting"
print(type(b))

<class 'str'>

In [32]:
# Python will assign float type to variable c
c = 25.9
print(type(c))

<class 'float'>

### 5. Nested Tuple
A tuple has the capability to contain another tuple along with other more complex data types. This phenomenon is referred to as 'nesting'. Take into account the following tuple with multiple elements:

In [56]:
# Create a nest tuple

NT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))

<img src="https://abhishekpoudel.com/wp-content/uploads/2024/04/NestedTuplepng.png" width="750" align="center">

In [57]:
# Print element on each index

print("Element 0 of Tuple: ", NT[0])
print("Element 1 of Tuple: ", NT[1])
print("Element 2 of Tuple: ", NT[2])
print("Element 3 of Tuple: ", NT[3])
print("Element 4 of Tuple: ", NT[4])

Element 0 of Tuple:  1
Element 1 of Tuple:  2
Element 2 of Tuple:  ('pop', 'rock')
Element 3 of Tuple:  (3, 4)
Element 4 of Tuple:  ('disco', (1, 2))

<img src="https://abhishekpoudel.com/wp-content/uploads/2024/04/Tuple-Nested-Tree.png" width="750" align="center">

In [59]:
# Print element on each index, including nest indexes

print("Element 2, 0 of Tuple: ",   NT[2][0])
print("Element 2, 1 of Tuple: ",   NT[2][1])
print("Element 3, 0 of Tuple: ",   NT[3][0])
print("Element 3, 1 of Tuple: ",   NT[3][1])
print("Element 4, 0 of Tuple: ",   NT[4][0])
print("Element 4, 1 of Tuple: ",   NT[4][1])

Element 2, 0 of Tuple:  pop
Element 2, 1 of Tuple:  rock
Element 3, 0 of Tuple:  3
Element 3, 1 of Tuple:  4
Element 4, 0 of Tuple:  disco
Element 4, 1 of Tuple:  (1, 2)

In [60]:
# Print the first element in the second nested tuples

NT[2][1][0]

'r'

### 6. Immutable property of Tuple

In [63]:
# We are not allowed to change a tuple
Ratings = (10,9,6,5,10,8,9,6,2)
Ratings[0] = 5

TypeError: 'tuple' object does not support item assignment

<hr/>
<div class="alert alert-success alertsuccess" style="margin-top: 20px">
[Note]: Since tuples cannot be changed, any operation done on them must be stored in a new tuple
</div>
<hr/>

# C. Lists
<p>i. Are ordered sequences i.e. they record element's position
<p>ii. Can have multiple data types within them, but the collective is a list at last
<p>iii. Created using the square bracket symbol
<p>iv. Are mutable objects

### 1. Defining a List

In [68]:
# Create a list

L = ["Michael Jackson", 10.1, 1982]
print(L)

['Michael Jackson', 10.1, 1982]

In [69]:
type(L)

list

### 2. Indexing in List

In [70]:
print(L[1])

10.1

In [71]:
# Negative indexing
print(L[-1])

1982

### 3. Slicing a List

In [72]:
# Slice from index 0 to index 1
L[0:2]

['Michael Jackson', 10.1]

In [73]:
#length of a list
print(len(L))

3

### 4. Concatenate List

In [75]:
# Concatenate two Lists

L += ["hard rock", 10]
print(L)

['Michael Jackson', 10.1, 1982, 'hard rock', 10, 'hard rock', 10]

### 5. Nested List
Same concept as in the Nested Tuple

### 6. Mutable property of list

In [76]:
# change the 2nd element of list
print(f'Before changing, the list is {L}')
L[1] = "Sagarmatha"
print(f'After changing, the list is {L}')

Before changing, the list is ['Michael Jackson', 10.1, 1982, 'hard rock', 10, 'hard rock', 10]
After changing, the list is ['Michael Jackson', 'Sagarmatha', 1982, 'hard rock', 10, 'hard rock', 10]

### 7. Append and Extend Functions
<p>Append --> Concatenates the object of length x to the last index of the list
<p>Extend --> Concatenates an object of length x to x positions

In [82]:
k = [5,6,7]
k.append([8,9])
print(k)

[5, 6, 7, [8, 9]]

In [83]:
k = [5,6,7]
k.extend([8,9])
print(k)

[5, 6, 7, 8, 9]

### 8. Split function: Convert a string into list
We use the split method to convert a string into a list

In [84]:
# split() : Splits, by whitespace, a string into a list where each word is a list item
string1 = "Nepal is my motherland."
print(string1)
list1 = string1.split() 
print(list1)

Nepal is my motherland.
['Nepal', 'is', 'my', 'motherland.']

In [85]:
# We can supply other desired value to the split function and it will split by the value we supplied
string1 = "Nepal is my motherland."
print(string1)
list1 = string1.split('a') 
print(list1)

Nepal is my motherland.
['Nep', 'l is my motherl', 'nd.']

### 9. Copy and Clone in List
When we set one variable B equal to A; both A and B are referencing the same list in memory. But when when some changes is made in A, an unexpected side effect is seen in B

#### i. Copy

In [86]:
# Copy (copy by reference) the list A

A = ["hard rock", 10, 1.2]
B = A
print('A:', A)
print('B:', B)

A: ['hard rock', 10, 1.2]
B: ['hard rock', 10, 1.2]

Initially, the value of the first element in B is set as hard rock. If we change the first element in A to banana, we get an unexpected side effect. As A and B are referencing the same list, if we change list A, then list B also changes. If we check the first element of B we get banana instead of hard rock:

In [87]:
# Examine the copy by reference

print('B[0]:', B[0])
A[0] = "banana"
print('B[0]:', B[0])

B[0]: hard rock
B[0]: banana

To avoid this, we can clone the original list. Clonning can be achieved by:

#### ii. Clonning

In [88]:
# clonning
B = A[:]
B

['banana', 10, 1.2]

Now if you change A, B wont change

In [89]:
print('B[0]:', B[0])
A[0] = "hard rock"
print('B[0]:', B[0])

B[0]: banana
B[0]: banana

# D. Sets
<p> i. Unlike Lists and Tuples, Sets are unordered i.e. do not record the element's position
<p> ii. Can contain different data types like Lists and Tuples
<p> iii. Can only have unique elements i.e. no repetition of same element

### 1. Defining a set
Sets are defined using curly braces

In [97]:
set1 = {1,"Sagarmatha","Annapurna", 8848.86, "Langtang", "Lhotse", "Annapurna","Choyu"}
print(set1)

{'Lhotse', 1, 8848.86, 'Choyu', 'Sagarmatha', 'Annapurna', 'Langtang'}

<hr/>
<div class="alert alert-success alertsuccess" style="margin-top: 20px">
[Note]: In the above defined set, notice how repeated items are replaced by a single entry
</div>
<hr/>

### 2. The unordered property of sets i.e. no Indexing

In [98]:
set1[0]

TypeError: 'set' object is not subscriptable

### 3. Add and Remove Item of a set

In [99]:
print(set1)
set1.add("Manasalu")
print(set1)
set1.remove(1)
print(set1)

{'Lhotse', 1, 8848.86, 'Choyu', 'Sagarmatha', 'Annapurna', 'Langtang'}
{'Lhotse', 1, 8848.86, 'Choyu', 'Sagarmatha', 'Manasalu', 'Annapurna', 'Langtang'}
{'Lhotse', 8848.86, 'Choyu', 'Sagarmatha', 'Manasalu', 'Annapurna', 'Langtang'}

### 4. Convert a list to set

In [100]:
album_list = [ "Michael Jackson", "Thriller", 1982, "00:42:19", \
              "Pop, Rock, R&B", 46.0, 65, "30-Nov-82", None, 10.0]
album_set = set(album_list)             
album_set

{'00:42:19',
 10.0,
 1982,
 '30-Nov-82',
 46.0,
 65,
 'Michael Jackson',
 None,
 'Pop, Rock, R&B',
 'Thriller'}

### 5. Check if an element is in set or not

In [101]:
"Choyu" in set1

True

In [102]:
"Makalu" in set1

False

# E. Dictionary
<p>i. A collection of key-value pair of elements, seperated by commas.
<p>ii. Key's are like index in Lists, beside that key's do not necessarily have to be integers
<p>iii. index are unseen in the list, but key's always present upfront in the dictionary in representation.
<p>iv. Key's are immutable and unique
<p>v. Elements of dictionary are accessed using keys

### 1. Defining a dictionary

In [105]:
dict1 = {'Sagarmatha':8848.86, 'Lhotse':8516,'Kanchenjunga':8586}
print(dict1)

{'Sagarmatha': 8848.86, 'Lhotse': 8516, 'Kanchenjunga': 8586}

### 2. Keys

In [106]:
print(dict1.keys())

dict_keys(['Sagarmatha', 'Lhotse', 'Kanchenjunga'])

### 3. Values

In [107]:
print(dict1.values())

dict_values([8848.86, 8516, 8586])

### 4. Access the element

In [110]:
print(dict1['Lhotse'])

8516

### 5. Add/Remove/Update a key-value pair

In [111]:
#add a new key-value pair to the existing dictionary
print(dict1)
dict1['Dhaulagiri'] = 8167
print(dict1)

{'Sagarmatha': 8848.86, 'Lhotse': 8516, 'Kanchenjunga': 8586}
{'Sagarmatha': 8848.86, 'Lhotse': 8516, 'Kanchenjunga': 8586, 'Dhaulagiri': 8167}

In [112]:
#remove a new key-value pair from the existing dictionary
print(dict1)
del(dict1['Lhotse'])
print(dict1)

{'Sagarmatha': 8848.86, 'Lhotse': 8516, 'Kanchenjunga': 8586, 'Dhaulagiri': 8167}
{'Sagarmatha': 8848.86, 'Kanchenjunga': 8586, 'Dhaulagiri': 8167}

In [116]:
# Update a value for the key
print(dict1)
dict1['Kanchenjunga'] = 29169
print(dict1)

{'Sagarmatha': 8848.86, 'Kanchenjunga': 8586, 'Dhaulagiri': 8167}
{'Sagarmatha': 8848.86, 'Kanchenjunga': 29169, 'Dhaulagiri': 8167}

### 6. Check if an element exists or not

In [117]:
'Kanchenjunga' in dict1

True

In [118]:
'Lhotse' in dict1

False