<img src = "https://abhishekpoudel.com/wp-content/uploads/2024/04/Python-Complete-Masterclass-abhishekpoudel.png" width="250" length="400" align="center" />

<h1> Complete Python Masterclass Day 1 </h1>
<h2> Table of Contents </h2>

A. Variables
    
         1. Declare a Variable
         2. Accessing a Variable
         3. Checking the Variable Type

B. Print Statement
    
         1. Hello World
         2. Comments in Python
         3. Printing a Variable
             i. Printing variable along with custom message
             ii. Using f string for printing

C. Common Errors
    
         1. Syntactical(Syntax) Error
         2. Indentation Error
         3. Name Error

D. Typecasting
    
         1. Implicit Typecasting
         2. Explicit Typecasting

E. Indexing
    
         1. Forward (Positive) Indexing
         1. Negative Indexing
         
F. Slicing

G. Escape Characters

H. String Operations

# A. Variables

### 1. Declare a Variable
Defining a variable can be done anywhere in the code by simply assigning the value using the '=' operator. The main thing to remember is to create a variable before calling it. Also, these are the rules to follow whie declaring a variable:

i. Must begin with a letter (a-z, A-Z) or an underscore (_)

ii. Can’t start with a digit (0–9)

iii. Can contain letters, digits, and underscores

iv. Cannot contain reserved words(keywords)

In [12]:
# String
var1 = "I am a string."
# Integer
var2 = 45
#Floating point
var3 = 165.86
# Boolean
var4 = True

### 2. Accessing a variable
Simply writing the variable name in python calls it.

In [13]:
var1

'I am a string.'

In [14]:
var2

45

In [15]:
var3

165.86

In [16]:
var4

True

### 3. Checking the Variable Type

In [17]:
type(var1)

str

In [18]:
type(var2)

int

In [19]:
type(var3)

float

In [20]:
type(var4)

bool

# B. Print Statement

### 1. Hello World

In [1]:
print("Hello World")

Hello World

### 2. Comments in Python

In [2]:
# print("This code wont run")

### 3. Printing a variable
In section A.2 the variable got printed only here in browser based runtime like Jupyter-Notebook, Google Colab, etc., but it will not be printed in an IDE or terminal. To print the variable, we need to explicitly call print statement.

In [22]:
print(var1)

I am a string.

#### i. Print variable along with custom message

In [28]:
print('What kind of variable are you? ',var1)

What kind of variable are you?  I am a string.

#### ii. Using f string for printing

In [26]:
print(f'The first variable var1 is "{var1}", and the second variable var2 is "{var2}"')

The first variable var1 is "I am a string.", and the second variable var2 is "45"

##### In the above code, the curly braces act as placeholders for the variables

# C. Common Errors

### 1. Syntactical(Syntax) Error
Are the errors that exists because of typo or mistakenly entered syntax. These error are caught by python interpreter on the run-time.

In [4]:
if x = 5:
    print("It's 5")

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (683193485.py, line 1)

### 2. Indentation Error
Python is very strict in the indentation. Blocks of codes are identified by white spaces in Python. Tabs can be used too. But mixing of tab and whitespaces together should be avoided. 

The below example is of a for loop in python. The inside block of the loop must be seperated from the for statement by either combination of four whitespaces, or a tab should be used.

In [7]:
for i in range(5):
print(i)

IndentationError: expected an indented block after 'for' statement on line 1 (3979827255.py, line 2)

### 3. Name Error
This error occurs when you try to access a variable that doesn't exists.

In [10]:
variable = "I will be called wrongly"
print(varible)

NameError: name 'varible' is not defined

# D. Typecasting

### 1. Implicit Typecasting
Some types are defaultly understood by python

In [30]:
# Python will assign integer type to variable a 
a = 5
print(type(a))

<class 'int'>

In [31]:
# Python will assign string type to variable b 
b = "Typecasting"
print(type(b))

<class 'str'>

In [32]:
# Python will assign float type to variable c
c = 25.9
print(type(c))

<class 'float'>

### 2. Explicit Typecasting
User can convert one datatype to another

In [35]:
# convert the variable a to float
a = float(a)
print(type(a))

<class 'float'>

##### Watch out that the part after the decimal point is ommited when converting a float to integer

In [36]:
# convert float to integer
print(f'Value of c in float is {c}')
c = int(c)
print(f'I am an {type(c)} type variable and my value is {c}')

Value of c in float is 25.9
I am an <class 'int'> type variable and my value is 25

In [38]:
# convert integer to string
s = str(c)
print(s)
print(type(s))

25
<class 'str'>

# E. Indexing

Considering a string as an ordered sequence is a helpful perspective. Each element within this sequence can be accessed through an index, typically represented by an array of numbers:

In [2]:
Name = "Shey Phokshundo"

<img src="https://abhishekpoudel.com/wp-content/uploads/2024/04/SheyPhoksundo.png" width="600" align="center" />

<hr/>
<div class="alert alert-success alertsuccess" style="margin-top: 20px">
[Tip]: Because indexing starts at 0, it means the first index is on the index 0.
</div>
<hr/>

### 1. Forward (Positive) Indexing

In [3]:
# Print the first element in the string

print(Name[0])

S

In [4]:
# Print the element on the 13th index in the string

print(Name[13])

d

### 2. Negative Indexing

<img src="https://abhishekpoudel.com/wp-content/uploads/2024/04/Negative-Indexing.png" width="600" align="center" />

In [8]:
# Print the 10th element from last in the string
print(Name[-10])

P

In [7]:
# Print the last element in the string
print(Name[-1])

o

# F. Slicing

<img src="https://abhishekpoudel.com/wp-content/uploads/2024/04/Slicing.png" width="600" align="center" />

<hr/>
<div class="alert alert-success alertsuccess" style="margin-top: 20px">
[Tip]: When taking the slice X[i:n], the first number means the index, and the second number (n) means upto the n'th element(which is always at index n-1) 
</div>
<hr/>

In [9]:
print(Name[0:6])

Shey P

In [10]:
print(Name[10:13])

hun

In [11]:
# Print from start to nth element
Name[:6]

'Shey P'

In [12]:
# Print from nth index to last element
Name[6:]

'hokshundo'

# G. Escape Characters
Backslashes serve as the start of escape sequences, which are used to represent strings that might be challenging to input directly. For instance, the backslash followed by "n" (\n) represents a new line. When encountered, the output includes a new line after the backslash "n" is processed:

In [13]:
# New line escape sequence

print(" Michael Jackson \n is the best" )

 Michael Jackson
 is the best

In [14]:
# Tab escape sequence

print(" Michael Jackson \t is the best" )

 Michael Jackson 	 is the best

##### If you want to place a back slash in your string, use a double back slash:

In [16]:
# Include back slash in string

print(" Michael Jackson \\ is the best" )

 Michael Jackson \ is the best

#####  We can also place an "r" before the string to display the backslash:

In [17]:
# r will tell python that string will be display as raw string

print(r" Michael Jackson \ is the best" )

 Michael Jackson \ is the best

#### Yo can find other escape characters here: 
<img src = "https://abhishekpoudel.com/wp-content/uploads/2024/04/escape-charaters.png" width="600" align="center" />

# H. String Operations

In [19]:
# Convert all the characters in string to upper case

A = "Shey Phokshundo is a lake in Nepal"
print("before upper:", A)
B = A.upper()
print("After upper:", B)

before upper: Shey Phokshundo is a lake in Nepal
After upper: SHEY PHOKSHUNDO IS A LAKE IN NEPAL

In [20]:
# Replace the old substring with the new target substring is the segment has been found in the string

A = "Shey Phokshundo is a lake in Nepal"
B = A.replace('Shey Phokshundo', 'Rara')
B

'Rara is a lake in Nepal'

In [21]:
# Find the substring in the string. Only the index of the first elment of substring in string will be the output

Name = "Langtang National Park"
Name.find('ang')

1

In [22]:
# If cannot find the substring in the string, return will be a -1

Name.find('Jasdfasdasdf')

-1